/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Variaveis cores*/
:root, :root[data-theme='dark'] {
    --primary-color: #f0f0f0;
    --primary-bg-color: #511f56;


}
:root[data-theme='light'] {
    --primary-color: #171511;
    --primary-bg-color: #f5e6e8;

}

body{
    background: var(--primary-bg-color);
    color: var(--primary-color)
}
